
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price h6 {
    font-size: 3em !important;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
 /* 
  .pricing ul li {
    margin-bottom: 1rem;
  }*/
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  .card-body.hard{
    background: dimgray;
    color: white !important;
  }

  .card-body.easy{
    background: antiquewhite;
  }
  .card-body.medium{
    background: antiquewhite;
  }
  .card-body.hard>.btn.btn-primary{
    background: center;
    border: 2px solid white;
    color: white;
  }
  .card-body.easy>.btn.btn-primary{
    background: floralwhite;
    border: 2px solid ghostwhite;
    color:black;
  }
  .card-body.medium>.btn.btn-primary{
    background: floralwhite;
    border: 2px solid ghostwhite;
    color:black;
  }
  


  .card-body.hard>.btn.btn-primary:hover{
    background: center;
    border: 2px solid #fce7f1;
    color: white;
  }


  .blanco{
      color:white !important;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
 

 @keyframes pulsacion {
    from { transform: none; color:white; }
    50% { transform: scale(1.2);}
    to { transform: none; color:rgb(184, 40, 136);}
}



.pulsacion{
    animation: pulsacion 1.2s infinite;

    float: right;
  }