
  .tablero{
    display:block;
    margin: 0 5%;
  }
  
  
  .card-containers
  {
    font-family: 'Open Sans', sans serif;
    font-size: 83px;
    font-weight: bold;
    width: 154px;
    height: 154px;
    margin: 20px 20px;
    border-radius: 10px;
    perspective: 1400px;
    display: flex;
    justify-content: space-around;
    float: left;
    
  }
  .cardGame
  {
      position: relative;
  
      height: 100%;
  
      border-radius: 10px;
  
      width: 100%;
      transform-style: preserve-3d;
      font-size:0.4em;
    
  }
  
  .front,.back,.front>img,.back>img
  {
      display: flex;
  
      width: 100%;
      height: 100%;
      font-size:70%;
      border-radius: 10px;
  
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
  }
  
  .front
  {
      color: #fff;
      background: #2196f3;
      
  }
  
  .back
  {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotateY(180deg);
      color: #2196f3;
      background: #fff;
  }  
  
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price h6 {
    font-size: 3em !important;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 1rem;
  }
 /* 
  .pricing ul li {
    margin-bottom: 1rem;
  }*/
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }


  .card-body.hard,.front.hard
  {
    color: white !important;
    background: rgba(222,151,221,1);
    background: -moz-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,151,221,1)), color-stop(100%, rgba(153,66,153,1)));
    background: -webkit-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: -o-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: linear-gradient(to right, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de97dd', endColorstr='#994299', GradientType=1 );
  }

  .card-body.easy,.front.easy{
    color: white !important;
    background: rgba(245,180,211,1);
    background: -moz-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,180,211,1)), color-stop(100%, rgba(207,97,152,1)));
    background: -webkit-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: -o-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: -ms-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: linear-gradient(to right, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b4d3', endColorstr='#cf6198', GradientType=1 );
  }
  .card-body.medium,.front.medium{
    color: white !important;
    background: rgba(229,170,250,1);
    background: -moz-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(229,170,250,1)), color-stop(100%, rgba(159,52,201,1)));
    background: -webkit-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: -o-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: -ms-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: linear-gradient(to right, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5aafa', endColorstr='#9f34c9', GradientType=1 );
  }
  .card-body.hard>.btn.btn-primary{
    background: center;
    border: 2px solid white;
    color:white !important;
    background: rgba(222,151,221,1);
    background: -moz-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222,151,221,1)), color-stop(100%, rgba(153,66,153,1)));
    background: -webkit-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: -o-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    background: linear-gradient(to right, rgba(222,151,221,1) 0%, rgba(153,66,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de97dd', endColorstr='#994299', GradientType=1 );
  }
  .card-body.easy>.btn.btn-primary{
    border: 2px solid ghostwhite;
    color:white;
    background: rgba(245,180,211,1);
    background: -moz-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,180,211,1)), color-stop(100%, rgba(207,97,152,1)));
    background: -webkit-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: -o-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: -ms-linear-gradient(left, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    background: linear-gradient(to right, rgba(245,180,211,1) 0%, rgba(207,97,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b4d3', endColorstr='#cf6198', GradientType=1 );
  }
  .card-body.medium>.btn.btn-primary{
    border: 2px solid ghostwhite;
    color:white;
    background: rgba(229,170,250,1);
    background: -moz-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(229,170,250,1)), color-stop(100%, rgba(159,52,201,1)));
    background: -webkit-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: -o-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: -ms-linear-gradient(left, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    background: linear-gradient(to right, rgba(229,170,250,1) 0%, rgba(159,52,201,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5aafa', endColorstr='#9f34c9', GradientType=1 );
  }
  


  .card-body.hard>.btn.btn-primary:hover{
    background: center;
    border: 2px solid #fce7f1;
    color: white;
  }


  .blanco{
      color:white !important;
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }
 

 @keyframes pulsacion {
    from { transform: none; color:white; }
    50% { transform: scale(1.2);}
    to { transform: none; color:rgb(184, 40, 136);}
}



.pulsacion{
    animation: pulsacion 1.2s infinite;

    float: right;
  }

  .flotante {
    display:scroll;
    position: fixed;
    bottom: 320px;
    right: 0px;
    height: 50px;
    width: 100px;
    
    border-radius: 10px;
    background: rgba(153,66,153,1);
}
.flotante>span{
  color: white;
  position: absolute;
  top: 50%;
  left: 31%;
  /* height: 69%; */
  /* width: 50%; */
  margin: -15% 0 0 -25%;
  font-size: 15px;
}

